* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    
} 

body{
    font-weight: 400;
}


.container {
    max-width: 1000px;
    margin: 0 auto;

}

.container__log {
    background: #1B0522;
    height: 35px;
}

.header__log {
    display: flex;
    justify-content: center;
    padding: 7px;
}

.header__log p {
    color: white;
}

.header__log a {
    text-decoration: none;
  
    font-size: 12.4px;
    line-height: 10px;
    letter-spacing: 2px;
    color: white;
    margin: 4px 5px 0 0;
}
.header__log-america{
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}


nav {
    padding: 15px 0;
    background: #291232;
}
.fa-chevron-down{
    color: whitesmoke;
}

.nav__container {
    display: flex;
    justify-content: space-between;
}

.nav__container-1 {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    margin-right: 30px;
}

.nav__menu {
    display: flex;
    align-items: center;

}

.nav__menu ul {
    display: flex;
    list-style: none;
}

.nav__menu ul li {
    padding: 0 10px;
    position: relative;
    color: black;
}


.nav__menu ul li a {
    text-decoration: none;
    font-weight: 800;
    font-size: 14.4px;
    line-height: 30px;
    align-items: center;
    letter-spacing: 2px;
    color: white;
}

.nav__prof {
    display: flex;
    align-items: center;
}

.nav__prof-profil {
    display: flex;
    flex-direction: row;
}

.nav__prof-icon i {
    color: #925FA4;
    margin: 0 6px;
}

.nav__prof ul li {
    list-style: none;
    text-decoration: none;
    font-weight: 800;
    font-size: 14.4px;
    line-height: 30px;
    align-items: center;
    letter-spacing: 2px;
    color: white;
    margin: 0 23px;
}

.nav__prof ul li a {
    text-decoration: none;
    color: white;
    margin-right: 5px;
}

.nav__prof ul li i {
    color: #925FA4;
}

.nav__prof-profil img {
    margin: 0 15px 0 25px;
}

.nav__prof-link {
    text-decoration: none;
    color: white;
    margin: 10px 0 10px 0;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sect {
    background: #230E2B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sect_container .img1 {
    margin: 50px 200px;
    /* width: 70%; */
}

div#tekst_sverhu_kartinki {
    position: relative;
}
.tekst_sverhu_kartinki {
    position: absolute;  
    top: 40%;
    left: 220px;    
    text-transform: uppercase;   
    color: white;
    width: 350px;     
    padding: 10px;    
    text-align: center;    
    font: bold 24px/34px Helvetica, Sans-Serif;    
}

.tekst_sverhu_kartinki p {
    font-size: 330px;
}

.tekst_poverh_kartinki {
    position: absolute;  
    top: 60%;
    left: 130px;    
    text-transform: uppercase;   
    color: white;
    width: 800px;     
    padding: 10px;    
    text-align: center;    
    font: bold 24px/34px Helvetica, Sans-Serif; 
}
.tekst_poverh_kartinki p {
    font-size: 16px;
}

.tekst_na_kartinke a {
    text-decoration: none;
    position: absolute;  
    top: 70%;
    left: 130px;    
    text-transform: uppercase;   
    color: white;
    width: 800px;     
    padding: 10px;    
    text-align: center;    
    font: bold 24px/34px Helvetica, Sans-Serif; 
    border-color: white;
}

/* .tekst_na_kartinke button {
    opacity: 1;
    border-radius: 40px;
    width: 220px;
    font-size: 17px;
    color: white;
    padding: 13px 5px;
    border: 2px solid white;
    margin: 0 0 30px 0;
} */


.tekst_na_kartinke button {
    display: inline-block;
    padding: 13px 25px;
    border: 2px solid white;
    background: transparent;
    border-radius: 30px;
    color: #fff;
    position: relative;
    cursor: pointer; 
}

footer {
    display: flex;
    justify-content: space-between;
    background: #230E2B;
    height: 100px;
    padding: 150px 0 100px 0;

}
.fa-chevron-down{
    color: whitesmoke;
}
.footer_row ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.footer_row {
    display: flex;
    
}
.tekst_poverh_kartinki a{
    text-decoration: none;
}
.footer_row ul li {
    list-style: none;
    text-decoration: none;
   
    font-size: 14.4px;
    line-height: 30px;
    align-items: center;
    letter-spacing: 2px;
    color: white;
    margin-left: 30px;
}

.footer_row ul li a {
    text-decoration: none;
   
    font-size: 14.4px;
    line-height: 30px;
    align-items: center;
    letter-spacing: 2px;
    color: white;
}

.footer_a a {

    text-decoration: none;
   
    font-size: 14.4px;
    line-height: 30px;
    align-items: center;
    letter-spacing: 2px;
    color: white;
}