@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
}

.body{
    font-weight: 400;
}


.container {
    max-width: 1000px;
    margin: 0 auto;

}

.container__log {
    background: #1B0522;
    height: 35px;
}

.header__log {
    display: flex;
    justify-content: center;
    padding: 7px;
}

.header__log p {
    color: white;
}
.header__log-america{
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}


.fa-chevron-down{
    margin-bottom:5px ;
}
.header__log a {
    text-decoration: none;
  
    font-size: 12.4px;
    line-height: 10px;
    letter-spacing: 2px;
    color: white;
    margin: 4px 5px 0 0;
}

.header__log img {
    padding-top: 0;
   margin-left:10px;
   margin-bottom: 15px;
}

/* .header__log-1 {
    margin: 0 5px 0 50px;
} */

.header__log i {
    color: white;
    margin: 5px 0;
}

nav {
    padding: 15px 0;
    background: #291232;
}

.nav__container {
    display: flex;
    justify-content: space-between;
}

.nav__container-1 {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    margin-right: 30px;
}

.nav__menu {
    display: flex;
    align-items: center;

}

.nav__menu ul {
    display: flex;
    list-style: none;
}

.nav__menu ul li {
    padding: 0 10px;
    position: relative;
    color: black;
}

.nav__menu ul li a {
    text-decoration: none;
  
    font-size: 14.4px;
    line-height: 30px;
    align-items: center;
    letter-spacing: 2px;
    color: white;
}

.nav__prof {
    display: flex;
    align-items: center;
}

.nav__prof-profil {
    display: flex;
    flex-direction: row;
}

.nav__prof-icon i {
    color: #925FA4;
    margin: 0 6px;
}

.nav__prof ul li {
    list-style: none;
    text-decoration: none;
 
    font-size: 14.4px;
    line-height: 30px;
    align-items: center;
    letter-spacing: 2px;
    color: white;
    margin: 0 23px;
}

.nav__prof ul li a {
    text-decoration: none;
    color: white;
    margin-right: 5px;
}

.nav__prof ul li i {
    color: #925FA4;
}

.nav__prof-profil img {
    margin: 0 15px 0 25px;
}

.nav__prof-link {
    text-decoration: none;
    color: white;
    margin: 10px 0 10px 0;
}

main {
    background: #230E2B;
}
.sect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sect_container {
    display: flex;
    justify-content: space-between;
}

.sect_container .img1 {
    margin: 30px 0 10px 0;
}

.sect_container .img2 {
    margin: 0 3px 0 0px;
}

.sect_container .item1 {
    margin: 0 50px 0 50px;
}


.item2 h2 {
    color: white;
    margin: 30px 0 20px 0;
    font-size: 30px;
}

.item2 a {
    background: linear-gradient(90deg, #EE0979 0%, #FF6A00 100%);
    text-decoration: none;
    border-radius: 40px;
    width: 150px;
    font-size: 20px;
    color: white;
    padding: 10px 70px;
    border: none;
    margin: 0 0 30px 0;
}

.item2 .text__opis {
    font-size: 16px;
    color: white;
    margin: 15px 0;
    line-height: 150%;
}

.item2 h3 {
    font-size: 20px;
    color: white;
    margin: 20px 0 15px 0;
}

.item2 {
    margin: 20px 0;
}

.infa__site {
    color: #8B5D9A;
}

.label {
    background: url('next.png') no-repeat;
    /*заливка фона картинкой без повторений*/
    float: right;
    margin: 0 -84px 0 0;
    /*сдвиг вправо*/
    display: block;
    height: 68px;
    width: 68px;
}

.stock_text {
    background: linear-gradient(90deg, #EE0979 0%, #FF6A00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin: 60px 0px 0px 0px;
}

.stock_text1 {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 40px;
    /* margin: 0px 150px 0px 0px; */

}
.stock_text2 {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 15px;
    /* margin: 0px 150px 0px 0px; */

}
.promotion__timer {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 70px;

}

.promotion__timer .title {
    text-align: center;
    
    color: white;
    font-size: 30px;
}

.promotion__timer .timer {
    margin-top: 60px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promotion__timer .timer__block {
    width: 102px;
    height: 120px;
    background: #230E2B;
    color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, .25);
    font-size: 16px;
    
    text-align: center;
    margin: 0px 0px 30px 0;
}


.promotion__timer .timer__block span {
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 40px;

}


.button a {
    background: linear-gradient(90deg, #EE0979 0%, #FF6A00 100%);
    text-decoration: none;
    border-radius: 40px;
    width: 150px;
    font-size: 20px;
    color: white;
    padding: 10px 70px;
    border: none;
    margin: 0 0 30px 0;
}


footer {
    display: flex;
    justify-content: space-between;
    background: #230E2B;
    height: 100px;
    padding: 150px 0 100px 0;

}
.fa-chevron-down{
    color: whitesmoke;
}
.footer_row ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.footer_row {
    display: flex;
    
}

.footer_row ul li {
    list-style: none;
    text-decoration: none;
   
    font-size: 14.4px;
    line-height: 30px;
    align-items: center;
    letter-spacing: 2px;
    color: white;
    margin-left: 30px;
}

.footer_row ul li a {
    text-decoration: none;
   
    font-size: 14.4px;
    line-height: 30px;
    align-items: center;
    letter-spacing: 2px;
    color: white;
}

.footer_a a {

    text-decoration: none;
   
    font-size: 14.4px;
    line-height: 30px;
    align-items: center;
    letter-spacing: 2px;
    color: white;
}

.footer__container {
    display: flex;

}




.button{ 
    margin-top: 80px; 
    text-align: center;     
} 

.modal{ 
  
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0; 
    top:0; 
    background-color: transparent; 
    z-index: 2; 
    transform: translateY(-44.5%) scale(0); 
    transition: .4s ease-in-out; 
} 
.modal.active{ 
    transform: translateY(0%)scale(100%); 
    background-color: rgba(0, 0, 0, .5); 
} 
.modal_container{ 
    display: flex; 
    width: 100%; 
    height: 100%; 
} 
.modal_body{ 
    margin: auto; 
    width: 500px; 
    background-color: #230E2B; 
    border-radius: 10px; 
    text-align: center; 
    padding: 100px 15px 50px 15px; 
    position: relative; 
    color:white;
} 
.modal_body p{ 
   
    font-size: 20px; 
} 
 
.click{ 
    display: flex;
    margin: 6px auto 30px;
    cursor: default;
    width: 280px;
    font-size: 20px;
    height: 25px;
    padding: 13px;
    /* margin: 0px 18px 18px 0px; */
} 
.continue{ 
    display: flex;
    margin: 6px auto 30px;
    cursor: default;
    width: 170px;
    height: 30px;
    font-size: 20px;
    padding: 10px;
    
} 

.input_text {
    margin: 0;
    border-radius: 40px;
}
.modal_body button{ 
    cursor: pointer; 
    display: block; 
    width: 330px; 
    margin: 60px auto 0px auto; 
    padding: 20px 0px; 
    font-size: 16px; 
    border: none; 
    color: #ffff; 
    border-radius: 10px; 
    background: linear-gradient(90deg, #EE0979 0%, #FF6A00 100%); 
    
} 
.modal_close{ 
    color: white;
    cursor: pointer; 
    position: absolute; 
    top: 10px; 
    right: 15px; 
    font-size: 21px; 
}






.modal1{ 
  
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0; 
    top:0; 
    background-color: transparent; 
    z-index: 2; 
    transform: translateY(-44.5%) scale(0); 
    transition: .4s ease-in-out; 
} 
.active1{ 
    transform: translateY(0%)scale(100%); 
    background-color: rgba(0, 0, 0, .5); 
} 
.modal_container1{ 
    display: flex; 
    width: 100%; 
    height: 100%; 
} 
.modal_body1{ 
    margin: auto; 
    width: 500px; 
    background-color: #230E2B; 
    border-radius: 10px; 
    text-align: center; 
    padding: 100px 15px 50px 15px; 
    position: relative; 
} 
.modal_body1 p{ 
  color: white;
    font-size: 20px; 
} 
 
.click1{ 
    display: flex;
    margin: 6px auto 30px;
    cursor: default;
    width: 260px;
    font-size: 20px;
    height: 25px;
    padding: 13px;
    /* margin: 0px 18px 18px 0px; */
} 
.continue1{ 
    display: flex;
    margin: 6px auto 30px;
    cursor: default;
    width: 170px;
    height: 30px;
    font-size: 20px;
    padding: 10px;
    
} 

.input_text1 {
    margin: 5px 0;
}
.modal_body1 button{ 
    cursor: pointer; 
    display: block; 
    width: 330px; 
    margin: 30px auto 0px auto; 
    padding: 20px 0px; 
    font-size: 16px; 
    border: none; 
    color: #ffff; 
    border-radius: 10px; 
    background-color: red; 
  
} 
.modal_close1{ 
    cursor: pointer; 
    position: absolute; 
    top: 10px; 
    right: 15px; 
    font-size: 21px; 
}