
.container{
    background-color: #303;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    max-width: 1000px;
    margin: 0 auto;

}

body{
    font-family: Rubik;
    margin: 0;
} 
.container {
    max-width: 1000px;
    margin: 0 auto;

}

.container__log {
    background: #1B0522;
    height: 35px;
}

.header__log {
    display: flex;
    justify-content: center;
    padding: 7px;
}

.header__log p {
    color: white;
    margin: 0;
}

.header__log a {
    text-decoration: none;
  
    font-size: 12.4px;
    line-height: 10px;
    letter-spacing: 2px;
    color: white;
    margin: 4px 5px 0 0;
}
.header__log-america{
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}



.header{
    background-color: #1B0522;
   
    
}
.header_imgrus{
    padding: 13px 5px 0 0;
    max-height: 20px;
    max-width: 27px;
}
.header_leng{
    display: flex;
}
.header_text{
    padding: 0 10px 0 0;
}
.header_menu{
    color: white;
    /* flex-direction: column; */
    display: flex;
    justify-content: center;
}
body{
    font-family: Rubik;
}
h2{
    color: white;
    padding: 0 0 0 15px;
}
nav {
    padding: 15px 0;
    background: #291232;
}

.nav__container {
    display: flex;
    justify-content: center;
}

.nav__container-1 {
    display: flex;
    justify-content: center;
}

.nav__logo {
    margin-right: 30px;
}

.nav__menu {
    display: flex;
    align-items: center;

}

.nav__menu ul {
    display: flex;
    list-style: none;
}

.nav__menu ul li {
    padding: 0 10px;
    position: relative;
    color: black;
}

.nav__menu ul li a {
    text-decoration: none;
  
    font-size: 14.4px;
    line-height: 30px;
    align-items: center;
    letter-spacing: 2px;
    color: white;
}

.nav__prof {
    display: flex;
    align-items: center;
}

.nav__prof-profil {
    display: flex;
    flex-direction: row;
}

.nav__prof-icon i {
    color: #925FA4;
    margin: 0 6px;
}

.nav__prof ul li {
    list-style: none;
    text-decoration: none;
 
    font-size: 14.4px;
    line-height: 30px;
    align-items: center;
    letter-spacing: 2px;
    color: white;
    margin: 0 23px;
}

.nav__prof ul li a {
    text-decoration: none;
    color: white;
    margin-right: 5px;
}

.nav__prof ul li i {
    color: #925FA4;
}

.nav__prof-profil img {
    margin: 0 15px 0 25px;
}

.nav__prof-link {
    text-decoration: none;
    color: white;
    margin: 10px 0 10px 0;
}
p{
    color: white;
}

.people{
    background:#230E2B ;
    padding: 15px 0 5px 0;
}
.box{
    width: 220px;
    height: 350px;
    margin: 0 15px;
}
.photo1{
    background-image: url(../png/photo1.png);
}
.photo2{
    background-image: url(../png/photo2.png);
}
.photo3{
    background-image: url(../png/photo3.png);
}
.photo4{
    background-image: url(../png/photo4.png);
}
.photo5{
    background-image: url(../png/photo5.png);
}
.photo6{
    background-image: url(../png/photo6.png);
}
.photo7{
    background-image: url(../png/photo7.png);
}
.photo8{
    background-image: url(../png/photo8.png);
}
.photo9{
    background-image: url(../png/photo9.png);
}
.photo10{
    background-image: url(../png/photo10.png);
}
.photo11{
    background-image: url(../png/photo11.png);
}
.photo12{
    background-image: url(../png/photo12.png);
}
.photo13{
    background-image: url(../png/photo13.png);
}
.hi{
    justify-content: center;
    width: 220px;
    border-radius: 500px;
    text-align: center;
    background: linear-gradient(90deg, #EE0979 0%, #FF6A00 100%);
    border: 0px;
    height: 40px;
    color: white;
    
}
.nameandage{
    padding: 208px 0 0 10px;
    display: flex;
}
.mans{
    display: flex;
    justify-content: space-between;
}
.live{
    display: flex;
    padding: 0 0 0 10px;
}
.name{
    padding: 0 5px 0 0;
}
footer {
    display: flex;
    justify-content: center;
    background: #230E2B;
    height: 10px;
    padding: 15px 0 50px 0;

}
.fa-chevron-down{
    color: whitesmoke;
}
.footer_row ul {
    display: flex;
    flex-direction: row;
 
}

.footer_row {
    display: flex;
    
}

.footer_row ul li {
    list-style: none;
    text-decoration: none;
   
    font-size: 14.4px;
    line-height: 30px;
    align-items: center;
    letter-spacing: 2px;
    color: white;
    margin-left: 30px;
}

.footer_row ul li a {
    text-decoration: none;
   
    font-size: 14.4px;
    line-height: 30px;
    align-items: center;
    letter-spacing: 2px;
    color: white;
}

.footer_a a {

    text-decoration: none;
   
    font-size: 14.4px;
    line-height: 30px;
    align-items: center;
    letter-spacing: 2px;
    color: white;
}

.footer__container {
    display: flex;

}

.about a{
    padding: 0 10px;
}
a{
    text-decoration: none;
    color: white;
}
.company{
    padding: 0 10px 0 0;
}